<div class="container">
  <div class="chat-box" id="chat-box">
    {{#each messages}}
      <div class="message-box">
        <p class="message-user">{{this.user}}</p>
        <p class="message-text">{{this.message}}</p>
      </div>
    {{/each}}
  </div>
  <div class="chat-controllers">
    <input class="input-message" id="input-message" type="text"/>
    <button class="btn-send" id="btn-send">Send</button>
  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/chat/index.js"></script>